<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Layer27</key>
	<string>tao3_1.png</string>
	<key>Layer39</key>
	<string>tao3_2.png</string>
	<key>Layer36</key>
	<string>tao3_3.png</string>
	<key>Layer25</key>
	<string>tao3_4.png</string>
	<key>Layer42</key>
	<string>tao3_5.png</string>
	<key>Layer44</key>
	<string>tao3_6.png</string>
	<key>Layer46</key>
	<string>tao3_01.png</string>
	<key>Layer47</key>
	<string>tao3_02.png</string>
</dict>
</plist>
