<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>汗</key>
	<string>hu</string>
	<key>心碎</key>
	<string>xinsui</string>
	<key>约吗</key>
	<string>yue</string>
	<key>送花</key>
	<string>hua</string>
	<key>蛋糕</key>
	<string>DG</string>
	<key>发消息</key>
	<string>wx</string>
	<key>嘘</key>
	<string>e</string>
	<key>不行</key>
	<string>buxing</string>
	<key>迟到</key>
	<string>chidao</string>
	<key>惊讶</key>
	<string>alei</string>
	<key>娇羞</key>
	<string>awww</string>
	<key>跳舞</key>
	<string>dance</string>
	<key>点头</key>
	<string>diantou</string>
	<key>不懂</key>
	<string>buzhi</string>
	<key>好人卡</key>
	<string>haorenka</string>
	<key>干一杯</key>
	<string>hj</string>
	<key>嗨</key>
	<string>hs</string>
	<key>火箭飞拳</key>
	<string>huojianfeiquan</string>
	<key>点子</key>
	<string>idea</string>
	<key>沮丧</key>
	<string>jusang</string>
	<key>大笑</key>
	<string>animation</string>
	<key>耶</key>
	<string>yipee</string>
	<key>大哭</key>
	<string>ku</string>
	<key>流星</key>
	<string>liuxing</string>
	<key>爱意</key>
	<string>love</string>
	<key>浓浓爱意</key>
	<string>love_2</string>
	<key>振作</key>
	<string>no</string>
	<key>求人</key>
	<string>qiuren</string>
	<key>生气</key>
	<string>angry</string>
	<key>害羞</key>
	<string>shy</string>
	<key>思考</key>
	<string>thinking</string>
	<key>天使</key>
	<string>tianshi</string>
	<key>外星人</key>
	<string>waixingren</string>
	<key>嘻嘻</key>
	<string>xixi</string>
	<key>加油</key>
	<string>yeah</string>
	<key>发语音</key>
	<string>yuyin</string>
</dict>
</plist>
