.classpath
.project
.settings
bin/
gen/
*.class
build.properties
lint.xmlk
.svn/
.idea/*
*.iml
out/*
.DS_Store
proguard_logs/
projectFilesBackup/
build/*
.gradle/*
local.properties
project.properties
keystore.properties
.externalToolBuilders/
