<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.sdk.android.kernel">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application android:allowBackup="true">

        <activity android:name="com.alibaba.sdk.android.webview.BaseWebViewActivity" />
        <receiver
            android:name="com.alibaba.sdk.android.hotpatch.HotPatchBroadcastReceiver"
            android:exported="false"
            android:process=":hotpatch">
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.hotpatch.action.HOT_PATCH" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.duanqu.qupai.trim.VideoTrimActivity"
            android:configChanges="orientation"
            android:process="@string/qupai_media_process_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Qupai.Video.Default" />
        <activity
            android:name="com.duanqu.qupai.trim.VideoFileActivity"
            android:configChanges="orientation"
            android:process="@string/qupai_media_process_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Qupai.Video.Default" />
        <activity
            android:name="com.duanqu.qupai.trim.VideoGalleryActivity"
            android:configChanges="orientation"
            android:process="@string/qupai_media_process_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Qupai.Video.Default" />

        <activity
            android:name="com.duanqu.qupai.recorder.RenderProgressActivity"
            android:configChanges="orientation"
            android:process="@string/qupai_media_process_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RenderProgress" />

        <activity
            android:name="com.duanqu.qupai.VideoActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.duanqu.sdk.@string/qupai_video_activity_parent"
            android:process="@string/qupai_media_process_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Qupai.Video.Default"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="@string/qupai_video_activity_parent" />
        </activity>

        <activity
            android:name="com.duanqu.qupai.DraftsActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.duanqu.qupai.VideoActivity"
            android:process="@string/qupai_media_process_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Qupai.Video.Default">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.duanqu.qupai.VideoActivity" />
        </activity>

        <service
            android:name="com.duanqu.qupai.MediaServer"
            android:process="@string/qupai_media_process_name" />
    </application>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

</manifest>
