#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
out

#Maven
target
release.properties
pom.xml.*

#Ant
proguard.cfg

#OSX
.DS_Store

library/build/*
